@model Assignment

<h2>Update Task @Model.AssignmentId</h2>
<style>
    #Description {
        height: 100px;
        text-align: left;
    }
</style>
<form method="post">
    <Label>Task Number</Label>
    <input type="number" name="AssignmentId" value="@Model.AssignmentId" placeholder="@Model.AssignmentId" readonly />
    <p>Previous Due Date: @Model.AssignmentDueDate</p>

    <label>New Due Date:</label>
    <input type="date" name="AssignmentDueDate" value="@Model.AssignmentDueDate" />
    <br />
    <input id="Description" type="text" name="AssignmentDescription" placeholder="Task Description" value="@Model.AssignmentDescription" />
    <br />
    <label>Assigned User:</label>
    <input type="text" name="AssignedUserName" value="@Model.AssignedUserName" readonly />
    <input type="submit" />
</form>