@model Assignment

<h2>Update Task @Model.AssignmentId</h2>
<style>
    #Description {
        height: 100px;
        text-align: left;
    }
</style>
<form method="post">
    <Label>Due Date: @Model.AssignmentDueDate</Label>
    @Html.HiddenFor(x => x.AssignmentId)
    @Html.HiddenFor(x => x.AssignmentCompletionStatus)
    @Html.HiddenFor(x => x.AssignmentDueDate)
    @Html.HiddenFor(x => x.AssignedUserName)


    <br />
    <label>Description: </label>
    <input id="Description" type="text" name="AssignmentDescription" placeholder="Task Description" value="@Model.AssignmentDescription" />
    <br />
    <label>Assigned User: @Model.AssignedUserName</label>
    <br />
    <label>Task Complete: @Model.AssignmentCompletionStatus</label>

    <br />
    <input type="submit" value="Submit Changes" />
</form>