@model Assignment

<h2>Update Task @Model.AssignmentId</h2>
<style>
    #Description {
        height: 100px;
        text-align: left;
    }
</style>
<form method="post">
    <Label>Task Number</Label>
    <input type="number" name="AssignmentId" value="@Model.AssignmentId" placeholder="@Model.AssignmentId" readonly />

    <Label>Due Date:</Label>
    <input type="datetime" name="AssignmentDueDate" value="@Model.AssignmentDueDate" />
    
    <br />
    <input id="Description" type="text" name="AssignmentDescription" placeholder="Task Description" value="@Model.AssignmentDescription" />
    <br />
    <label>Assigned User:</label>
    <input type="text" name="AssignedUserName" value="@Model.AssignedUserName" readonly />
    <label>Task Complete:</label>
    @if (Model.AssignmentCompletionStatus == true)
    {
        <label>Complete:</label><input type="radio" name="AssignmentCompletionStatus" value="true" required checked />
        <label>Incomplete:</label><input type="radio" name="AssignmentCompletionStatus" value="false" required />
    }
    else
    {
        <label>Complete:</label><input type="radio" name="AssignmentCompletionStatus" value="true" required />
        <label>Incomplete:</label><input type="radio" name="AssignmentCompletionStatus" value="false" required checked />
    }

    <input type="submit" placeholder="Submit Changes" />
</form>