@model Assignment

<h4>Assignment @Model.AssignmentId:</h4>


<li>Due Date: @Model.AssignmentDueDate.ToString("d")</li>
<p>Assigned User: @Model.AssignedUserName</p>

<li>Description: @Model.AssignmentDescription</li>
@if (Model.AssignmentCompletionStatus == true)
{
    <li>Complete: Yes</li>
}
else
{
    <li>Complete: No</li>
}
<a asp-action="Delete" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">
    <button>
        Delete
    </button>
</a>
<a asp-action="Update" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">
    <button>
        Edit
    </button>
</a>
<a asp-action="Index" asp-controller="CapstoneToDoList">
    <button>
        Home
    </button>
</a>


<a asp-action="MarkComplete" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">

    @if (Model.AssignmentCompletionStatus == false)
    {<button>
            Mark Complete
        </button>}
    else
    {
        <button>
            Revert to Incomplete
        </button>
    }
</a>
