@model Assignment

<h4>Assignment @Model.AssignmentId:</h4>

<br />
<p>Due Date: @Model.AssignmentDueDate.ToString("d")</p>

<p>Assigned User: @Model.AssignedUserName</p>

<p>Description: @Model.AssignmentDescription</p>

<p>Completion Status: @Model.AssignmentCompletionStatus</p>

    
    

<h5>Edit Actions</h5>
<a asp-action="UpdateDate" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">
    <button>
        Change Due Date
    </button>
</a>
<a asp-action="Delete" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">
    <button>
        Delete Task
    </button>
</a>
<a asp-action="Update" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">
    <button>
        Edit Description
    </button>
</a>

<a asp-action="MarkComplete" asp-controller="CapstoneToDoList" asp-route-id="@Model.AssignmentId">

    @if (Model.AssignmentCompletionStatus == false)
    {<button>
            Mark Complete
        </button>}
    else
    {
        <button>
            Revert to Incomplete
        </button>
    }
</a>

<br />  
<br />  
<a asp-action="Index" asp-controller="CapstoneToDoList">
    <button>
        Return Home
    </button>
</a>